<form class="form" [formGroup]="addressForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>
  @if(addressForm.get('name')?.invalid && addressForm.touched&& addressForm.get('name')?.errors?.['required']){
  <mat-error>Name Is Required</mat-error>
  }
  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select formControlName="country" (valueChange)="getCountriesAndCitiesData()" required>
      @for(country of countries(); track country.id) {
      <mat-option [value]="country.id">
        {{ country.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if(addressForm.get('country')?.invalid && addressForm.touched){
  <mat-error>Country Is Required</mat-error>
  }

  <div class="cities-container">
    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select formControlName="city" required>
        @for(city of cities() || []; track city.id) {
        <mat-option [value]="city.id">
          {{ city.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-raised-button class="add-city-button" (click)="handlerAddCity()" color="accent">Add city</button>
  </div>
  @if(addressForm.get('city')?.invalid && addressForm.touched){
  <mat-error>City Is Required</mat-error>
  }

  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput formControlName="street" required />
  </mat-form-field>
  @if(addressForm.get('street')?.invalid && addressForm.touched){
  <mat-error>Street Is Required</mat-error>
  }
</form>
